* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

header a img {
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: lowercase;
}

section {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container {
    background-color: #1f2937;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

section .container div {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerBlurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

section .container div h1 {
    width: 100%;
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

section .container div p {
    font-size: 18px;
    color: #e5e7eb;
    padding-top: 8px;
}

section img {
    width: 350px;
    border-radius: 5px;
}

.dealerServices {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 16px 64px 16px;
}

.dealerServices div {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 24px;
}

.dealerServices div h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 36px;
    font-size: 36px;
}

.dealerServices div ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.dealerServices div ul li {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dealerServices div ul li img {
    width: 100px;
    min-width: 64px;
}

.dealerServices div ul li a {
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 0px 16px;
}

.testimonial {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial div {
    max-width: 600px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial div p {
    width: 100%;
}

.testimonial div p:nth-of-type(1) {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    padding-bottom: 36px;
}

.testimonial div p:nth-of-type(2) {
    font-size: 18px;
    font-weight: 800;
    color: #1f2937;
    text-align: right;
}

footer {
    background-color: #1f2937;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p,
footer a {
    color: #f9faf8;
}





